<% require '/var/www/ood/apps/sys/ondemand_fugaku/misc/dashboard/common.rb' %>
<div class="row">
  <div class="col-12">
    <h4 class="apps-section-header-blue">Message of the Day</h4>
  </div>
  <%= render partial: "/widgets/fugaku_info/motd" %>
  <%= render partial: "/widgets/fugaku_info/accounting" %>
</div>
