<%-
  require '/var/www/ood/apps/sys/ondemand_fugaku/misc/utils.rb'
-%>

<div class="row">
  <div class='col-md-12'>
    <h4 class="apps-section-header-blue">Message of the day</h4>
    <%= render partial: "/widgets/fugaku_info/motd" %>
    <!--<p>
      <%= render partial: "/widgets/fugaku_info/status" %>
    </p>-->
    <h4 class="fugaku_info">Accounting <span style="font-size: 0.9rem;">(Updated at <%= dashboard_date() %>)</span></h4>
    <%= render partial: "/widgets/fugaku_info/accounting" %>
  </div>
</div>
