<div class="row">
  <div class="col-md-9">
    <img src="/public/fugaku.jpg" alt="logo" class="img-fluid">
  </div>
  <div class="col-md-3">
    <table class="link" align="right" class="table-responsive">
      <thead><tr><th colspan="2">Link</th></tr></thead>
      <tbody>
	<tr>
	  <td>OnDemand Manual</td>
	  <td>
	    <a href="https://riken-rccs.github.io/ondemand_fugaku/" target="_blank">
	      <img width="24px" src="/public/en.svg" />
	    </a>
	    <a href="https://riken-rccs.github.io/ondemand_fugaku/index_ja.html" target="_blank">
	      <img width="24px" src="/public/ja.svg" />
	    </a>
	  </td>
	</tr>
	<tr>
	  <td>Fugaku Portal</td>
	  <td>
	    <a href="https://www.fugaku.r-ccs.riken.jp/en/front/home" target="_blank">
	      <img width="24px" src="/public/en.svg" />
	    </a>
	    <a href="https://www.fugaku.r-ccs.riken.jp" target="_blank">
	      <img width="24px" src="/public/ja.svg" />
	    </a>
	  </td>
	</tr>
	<tr>
	  <td>Fugaku Schedule</td>
	  <td>
	    <a href="https://www.fugaku.r-ccs.riken.jp/en/operation_schedule" target="_blank">
	      <img width="24px" src="/public/en.svg" />
	    </a>
	    <a href="https://www.fugaku.r-ccs.riken.jp/operation_schedule" target="_blank">
	      <img width="24px" src="/public/ja.svg" />
	    </a>
	  </td>
	</tr>
	<tr>
          <td>Fugaku Status</td>
          <td>
            <a href="https://status.fugaku.r-ccs.riken.jp/" target="_blank">
              <img width="24px" src="/public/en.svg" />
            </a>
            <a href="https://status.fugaku.r-ccs.riken.jp/" target="_blank">
              <img width="24px" src="/public/ja.svg" />
            </a>
          </td>
        </tr>
	<tr>
	  <td>Fugaku Support</td>
	  <td>
	    <a href="https://fugaku.zendesk.com/hc/en-us/" target="_blank">
	      <img width="24px" src="/public/en.svg" />
	    </a>
	    <a href="https://fugaku.zendesk.com/" target="_blank">
	      <img width="24px" src="/public/ja.svg" />
	    </a>
	  </td>
	</tr>
      </tbody>
    </table>
  </div>
</div>
