<div class="row">
  <div class="col-md-9">
    <img src="/public/fugaku.jpg" alt="logo" class="img-fluid">
  </div>
  <div class="col-md-3">
    <table class="link" align="right" style="white-space: nowrap;">
      <thead>
	<tr><th colspan="2">Resources</th></tr>
      </thead>
      <tbody>
	<tr>
	  <td>
            📘 OnDemand Manual
	  </td>
	  <td>
            <a class="badge bg-primary" href="https://riken-rccs.github.io/ondemand_fugaku/" target="_blank" rel="noopener noreferrer">EN</a>
            <a class="badge bg-secondary" href="https://riken-rccs.github.io/ondemand_fugaku/index_ja.html" target="_blank" rel="noopener noreferrer">JA</a>
	  </td>
	</tr>
	<tr>
	  <td>
            🌐 Fugaku Portal
	  </td>
	  <td>
            <a class="badge bg-primary" href="https://www.fugaku.r-ccs.riken.jp/en/front/home" target="_blank" rel="noopener noreferrer">EN</a>
            <a class="badge bg-secondary" href="https://www.fugaku.r-ccs.riken.jp" target="_blank" rel="noopener noreferrer">JA</a>
	  </td>
	</tr>
	<tr>
	  <td>
            📅 Fugaku Schedule
	  </td>
	  <td>
            <a class="badge bg-primary" href="https://www.fugaku.r-ccs.riken.jp/en/operation_schedule" target="_blank" rel="noopener noreferrer">EN</a>
            <a class="badge bg-secondary" href="https://www.fugaku.r-ccs.riken.jp/operation_schedule" target="_blank" rel="noopener noreferrer">JA</a>
	  </td>
	</tr>
	<tr>
	  <td>
            🟢 Fugaku Status
	  </td>
	  <td>
            <a class="badge bg-primary" href="https://status.fugaku.r-ccs.riken.jp/" target="_blank" rel="noopener noreferrer">EN</a>
            <a class="badge bg-secondary" href="https://status.fugaku.r-ccs.riken.jp/" target="_blank" rel="noopener noreferrer">JA</a>
	  </td>
	</tr>
	<tr>
	  <td>
            💬 Fugaku Support
	  </td>
	  <td>
            <a class="badge bg-primary" href="https://fugaku.zendesk.com/hc/en-us/" target="_blank" rel="noopener noreferrer">EN</a>
            <a class="badge bg-secondary" href="https://fugaku.zendesk.com/" target="_blank" rel="noopener noreferrer">JA</a>
	  </td>
	</tr>
      </tbody>
    </table>
  </div>
</div>
