<h1>HPCI Shared Storage</h1>

<p>
  Please issue an access token from <a href="https://elpis.hpci.nii.ac.jp/"  target="_blank">https://elpis.hpci.nii.ac.jp</a>.
</p>

<table class="table table-bordered">
  <% if @data.nil? || @data['next'] == "mount" %>
  <tr style="background-color:blue; color:white;">
    <th>Action</th>
    <th>HPCI ID</th>
    <th>Passphrase</th>
  </tr>
  <form action="" method="post">
    <tr>
      <td><input type="submit" name="act"  value="mount"></td>
      <% if !@data.nil? && @data.key?("user") %>
      <td><input type="text"   name="user" id="user" placeholder="hpcixxxxxx" value="<%= @data['user'] %>" required></td>
      <% else %>
      <td><input type="text"   name="user" id="user" placeholder="hpcixxxxxx" required></td>
      <% end %>
      <td><input type="text"   name="pass" id="pass" required></td>
    </tr>
  </form>
  <% else %>
  <tr style="background-color:blue; color:white;">
    <th>Action</th>
    <th>HPCI ID</th>
    <th>Mount Path</th>
  </tr>
  <form action="" method="post">
  <tr>
    <td><input type="submit" name="act" value="umount"></td>
    <td><%= @data['user'] %></td>
    <td>
      <% unless @data['path'].nil? %>
      <a href="./dashboard/files/fs<%= @data['path'] %>" target="_blank"><%= @data['path'] %></a>
      <% else %>
      <font color="red">HPCI ID or Passphrase is invalid.</font>
      <% end %>
    </td>
  </tr>
  <% end %>
  </form>
</table>
